.body-container-anime-details .loading-message {
  padding: 4rem;
  font-family: 'Great Vibes';
  font-size: 4rem;
  display: flex;
  justify-content: center;
  background: url(../img/dot-pink.png);
  color: #f8f5fb;
}

.container-anime-title {
  background: url(../img/small-dot-purple.png) repeat;
  height: 7rem;
  color: #f4f3ef;
  font-size: 2rem;
  padding: 1rem;
  height: 100%;
}

.container-anime-title .title-anime {
  padding: 1rem;
}

.container-anime-title .title-anime h1 {
  font-family: 'Montserrat';
  text-shadow: -1px 3px 0px #c0ace0;
}

.purple-line {
  background: url(../img/purple-line.png) repeat;
  height: 1rem;
}

.anime-details-container {
  background: #f4f3ef;
  width: 100%;
}

.anime-details-container .anime-general-details {
  padding: 2rem 2rem;
  display: flex;
  /* justify-content: space-between; */
}

.anime-details-container .anime-general-details .anime-image-container {
  width: 30rem;
  position: relative;
}

.anime-details-container .anime-general-details .anime-image-container .anime-main-image {
  width: 100%;
  border-radius: 1rem;
}

.anime-details-container .anime-general-details .anime-image-container .score {
  top: 1rem;
  right: 1rem;
  position: absolute;
  background: #a593c2f2;
  padding: 1rem;
  color: #f8f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.anime-details-container .anime-general-details .anime-image-container .score h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
}

.anime-details-container .anime-general-details .anime-image-container .score .icon {
  font-size: 3rem;
  margin-right: 1rem;
}

.anime-details-container .anime-general-details .anime-image-container .score .score-note span {
  font-size: 2rem;
}

.anime-details-container .anime-general-details .anime-image-section-detail {
  /* width: 50%; */
}

.anime-details-container .anime-general-details .anime-information-container {
  padding: 1rem 2rem;
}

.anime-details-container .anime-general-details .anime-information-container .subsection-anime-info-title {
  font-family: 'Montserrat';
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: dashed 1px #a1a2a6;
  color: #fba1a1;
}

.anime-details-container .anime-general-details .anime-information-container .anime-information-details .synopsis {
  font-size: 1.7rem;
  padding: 2rem 2rem;
  color: #565964;
  line-height: 1.3;
}

.anime-details-container .table-info {
  font-size: 2rem;
  background: #ffffff;
  margin: 2rem;
  border-radius: 1rem;
}

.anime-details-container .table-info .cell-info {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 1rem;
}

.anime-details-container .table-info .cell-info>div {
  display: flex;
  align-items: center;
}

.anime-details-container .table-info .cell-info ion-icon {
  margin-right: 1rem;
  font-size: 3rem;
  color: #f88c91;
}

.anime-details-container .table-info .cell-info .cell-label {
  margin-right: 2rem;
  font-family: 'Montserrat';
  color: #fba1a1;
}

.anime-details-container .table-info .cell-info .cell-content {
  color: #a1a2a6;
  font-weight: bold;
}

.anime-details-container .table-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40rem);
  justify-content: center;
  padding: 1rem;
}

/* ANIME SUBDETAILS CONTAINER */

.anime-details-container .anime-general-subdetails-container {
  padding: 0rem 2rem;
}

.anime-details-container .anime-general-subdetails-container .anime-general-subdetails .anime-general-subdetails-tab-container .nav-tabs li {
  font-size: 2rem;
  padding: 2rem;
  font-family: 'Montserrat';
  background: #a593c2bf;
  display: inline-block;
  margin: 0rem 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
  color: #ffffff;
  cursor: pointer;
}

.anime-details-container .anime-general-subdetails-container .anime-general-subdetails .anime-general-subdetails-tab-container .nav-tabs li.active {
  background: #9078b7;
}

.anime-details-container .anime-general-subdetails-container .anime-general-subdetails .anime-general-subdetails-tab-container .nav-tabs li .image-tab {
  display: none;
}

.anime-general-subdetails-tab-container-content {
  padding: 2rem;
  border: 0.6rem solid #9078b7;
  border-radius: 1rem;
  background: #e6c9ff;
}

.anime-general-subdetails-tab-container-content .videos-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.anime-general-subdetails-tab-container-content .videos-content .video-list-outer {
  font-size: 1.6rem;
  width: min-content;
  border-radius: 1rem;
}

.anime-general-subdetails-tab-container-content .videos-content .video-list-outer img {
  width: 20rem;
  height: 11rem;
  border-radius: 1rem;
}

.anime-general-subdetails-tab-container-content .videos-content .video-list-outer .video-link {
  display: inline-block;
  position: relative;
}

.anime-general-subdetails-tab-container-content .videos-content .video-list-outer .video-info-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  color: #ffffff;
}

.anime-general-subdetails-tab-container-content .videos-content .video-list-outer .video-info-container span {
  padding: 0.3rem;
  width: 100%;
  display: block;
  background: #59d4f096;
  border-radius: 0rem 0rem 1rem 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.anime-general-subdetails-tab-container-content .empty-content-videos {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.anime-general-subdetails-tab-container-content .empty-content-videos img {
  width: 30%;
}

.anime-general-subdetails-tab-container-content .empty-content-videos span {
  font-size: 2rem;
  margin-top: 2rem;
  font-family: 'Montserrat';
}

/* ANIME CHARACTER CARD */

.table-characters-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  gap: 1.5rem;
  justify-content: center;
}

.character-container {
  position: relative;
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  background: #f8d4d3;
}

.character-container .top {
  background-color: #f88c91;
  height: 11rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.character-container img {
  width: 15rem;
  clip-path: circle(38% at 50% 50%);
  position: absolute;
  top: -0.5rem;
  left: 1rem;
}

.character-container .character-information {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
}

.character-container .character-information .name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f8f5fb;
}

.character-container .character-information .role {
  font-size: 1.2rem;
  font-weight: bold;
}

.table-episodes-info {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.episodes-table-info {
  border-collapse: collapse;
  background: white;
}

.episodes-table-info th {
  border: #ffbb63 1px solid;
  padding: 1rem;
  background: #ffbb63;
  color: white;
  border-right: 1px solid white;
  font-family: 'Montserrat';
}

.episodes-table-info td {
  padding: 1rem;
  text-align: center;
  border: #ffbb63 1px solid;
  text-align: left;
}

.episodes-table-info td .title-column span:first-of-type {
  display: flex;
  flex-direction: column;
  color: #ffbb63;
  font-size: 2rem;
  font-weight: bold;
}

.episodes-table-info td .title-column span {
  padding-top: 5px;
}

@media only screen and (max-width:953px) {
  .body-container-anime-details .anime-details-container .anime-general-details {
    display: flex;
    flex-direction: column;
  }

  .body-container-anime-details .anime-details-container .anime-general-details .anime-image-section-detail {
    display: flex;
    justify-content: center;
  }

  .body-container-anime-details .anime-details-container .table-info .cell-info {
    display: flex;
    flex-direction: column;
  }

  .nav-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .nav-tabs li {
    border-radius: 0rem !important;
    font-size: 1.5rem !important;
    margin: 0 !important;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .nav-tabs li.active .title-tab {
    display: block;
  }

  .nav-tabs li:not(.active) .title-tab {
    display: none;
  }

  .nav-tabs li .image-tab {
    display: block !important;
  }

  .anime-general-subdetails-tab-container-content {
    border-radius: 0 !important;
  }

  .anime-general-subdetails-tab-container-content .empty-content-videos img {
    width: 100%;
  }

  .episodes-table-info {
    border: 0;
  }

  .episodes-table-info thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .episodes-table-info td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
  }

  .episodes-table-info td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .episodes-table-info td:last-child {
    border-bottom: 0;
  }
}